<div class="page-header page-header-small" style="background-image: url('./assets/img/sections/gerrit-vermeulen.jpg');">
  <div class="filter filter-danger"></div>
  <div class="content-center">
    <div class="container">
      <h1>How to use Alphatrader</h1>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="container">
        <markdown>

          ### 自動取引コード

          #### tick()

          - 自動取引ボットは、「実行間隔秒」ごとに、 tick() 関数を実行します。

          - tick()関数内では、自動取引の条件を記述したり、売買を実行できます。

          - 自動取引コード上では、必ずtick()関数を宣言する必要があります。
```python
def tick():
      # Poloniex「ETC_USDT」の60秒間隔tickerを100個取得
      charts = data.charts('poloniex','ETC_USDT',60,100)
      # 最新の終値が、1分前の終値より低いとき、Poloniex「ETC_USDT」をUSDT保有量の100%で買う
      if charts.close.values[-1] < charts.close.values[-2]]:
          trade.buy('poloniex','ETC_USDT',1)
```

          #### data

          - 取引所・通貨ペアごとのチャートデータを呼び出すためのモジュールです。

          - 最新のチャートデータを取り出す「data.ticker()」、現時点から指定個数分のチャートデータを取り出す「data.chart()」があります。
             - data.ticker(取引所, 通貨ペア, 間隔秒)
             - data.chart(取引所, 通貨ペア, 間隔秒, 取得件数)
```python
def tick():
      # Poloniex「BCN_BTC」の60秒間隔tickerを取得
      ticker = data.ticker('poloniex','BCN_BTC',60)
      # Poloniex「ETC_USDT」の60秒間隔tickerを100個取得
      charts = data.charts('poloniex','ETC_USDT',60,100)

      # 100件のチャートデータを使用してボリンジャーバンド指標を生成
      upper, middle, lower  = talib.BBANDS(charts.close.values, matype=talib.MA_Type.T3)
```

        #### talib

        - 市場取引の有用な指標を取り出すモジュールです。

        - https://github.com/mrjbq7/ta-lib
```python
def tick():
      # Hitbtc「ARDR_BTC」の60秒間隔tickerを100個取得
      charts = data.charts('hitbtc','ARDR_BTC',60,100)

      # 100件のチャートデータを使用してボリンジャーバンド指標を生成
      upper, middle, lower  = talib.BBANDS(charts.close.values, matype=talib.MA_Type.T3)
      # 100件のチャートデータを使用して単純移動平均線を生成
      sma = talib.SMA(charts.close.values, timeperiod=25)      
```


        #### trade

        - 取引を実行するためのモジュールです。

        - ベータ版では成行注文にのみ対応してます。
```python
def tick():
      # Bitflyer「BTC_JPY」の60秒間隔tickerを100個取得
      charts = data.charts('bitflyer','BTC_JPY',60,100)

      # 100件のチャートデータを使用してボリンジャーバンド指標を生成
      upper, middle, lower  = talib.BBANDS(charts.close.values, matype=talib.MA_Type.T3)

      # 最新の終値が最新のボリンジャーバンド(lower)を下回ったとき、Bitflyer「BTC_JPY」をJPY保有量の100%で買う
      if charts.close.values[-1] < lower[-1]:
          trade.buy('bitflyer','BTC_JPY',1)
      # 最新の終値が最新のボリンジャーバンド(upper)を上回ったとき、Bitflyer「BTC_JPY」をBTC保有量の100%で売る
      elif upper[-1] < charts.close.values[-1]:
          trade.sell('bitflyer','BTC_JPY',1)
```


        </markdown>
      </div>
    </div>
  </div>
</div>

<footer class="footer footer-black">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <ng-container *ngIf="userService.userSub.getValue() == null">
            <li><a [routerLink]="['/']">トップ</a></li>
            <li><a [routerLink]="['/setting']">設定</a></li>
            <li><a [routerLink]="['/usage']">使い方</a></li>
            <li><a [routerLink]="['/register']">登録</a></li>
            <li><a [routerLink]="['/login']">ログイン</a></li>
          </ng-container>
          <ng-container *ngIf="userService.userSub.getValue() != null">
            <li><a [routerLink]="['/']">トップ</a></li>
            <li><a [routerLink]="['/trader']">自動取引ボット</a></li>
            <li><a [routerLink]="['/setting']">設定</a></li>
            <li><a [routerLink]="['/usage']">使い方</a></li>
            <li><a (click)="logout()">ログアウト</a></li>
          </ng-container>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
        © {{date | date: 'yyyy'}}, Alphatrader All Rights Reserved
				</span>
      </div>
    </div>
  </div>
</footer>
