<div class="wrapper">
  <div class="page-header section section-icons">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="icons-nucleo">
            <i class="first-left-icon nc-icon nc-planet add-animation animated"></i>
            <i class="second-left-icon nc-icon nc-touch-id add-animation animated"></i>
            <i class="third-left-icon nc-icon nc-lock-circle-open add-animation animated"></i>
            <i class="fourth-left-icon nc-icon nc-tap-01 add-animation animated"></i>
            <i class="fifth-left-icon nc-icon nc-zoom-split add-animation animated"></i>
            <i class="sixth-left-icon nc-icon nc-atom add-animation animated"></i>
            <i class="seventh-left-icon nc-icon nc-favourite-28 add-animation animated"></i>
            <i class="eighth-left-icon nc-icon nc-settings add-animation animated"></i>
            <i class="ninth-left-icon nc-icon nc-bulb-63 add-animation animated"></i>
            <i class="tenth-left-icon nc-icon nc-circle-10 add-animation animated"></i>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <h2 class="title revealOnScroll">Alphatrader</h2>
          <h5 class="description">
                      Alphatraderは簡単なコードを登録するだけで、自動で24時間仮想通貨を取引できるサービスです。まず取引所のAPI KeyとSecret Keyを登録し、自分だけのアルゴリズムで自動取引をはじめましょう。
	                </h5>
          <br/>

          <ng-container *ngIf="userService.userSub.getValue() != null">
            <a [routerLink]="['/trader']" class="btn btn-primary btn-round btn-lg " style="margin-bottom: 10px;">自動取引ボットを作成する</a>
            <a [routerLink]="['/setting']" class="btn btn-outline-primary btn-round btn-lg" style="margin-bottom: 10px;">APIKeyを設定する</a>
          </ng-container>
          <ng-container *ngIf="userService.userSub.getValue() == null">
            <a [routerLink]="['/register']" class="btn btn-primary btn-round btn-lg " style="margin-bottom: 10px;">新規登録する</a>
            <a [routerLink]="['/login']" class="btn btn-outline-primary btn-round btn-lg" style="margin-bottom: 10px;">ログインする</a>
          </ng-container>
        </div>
        <div class="col-md-3">
          <div class="icons-nucleo">
            <i class="first-right-icon nc-icon nc-bank add-animation animated"></i>
            <i class="second-right-icon nc-icon nc-tag-content add-animation animated"></i>
            <i class="third-right-icon nc-icon nc-bell-55 add-animation animated"></i>
            <i class="fourth-right-icon nc-icon nc-tv-2 add-animation animated"></i>
            <i class="fifth-right-icon nc-icon nc-map-big add-animation animated"></i>
            <i class="sixth-right-icon nc-icon nc-badge add-animation animated"></i>
            <i class="seventh-right-icon nc-icon nc-simple-add add-animation animated"></i>
            <i class="eighth-right-icon nc-icon nc-trophy add-animation animated"></i>
            <i class="ninth-right-icon nc-icon nc-hat-3 add-animation animated"></i>
            <i class="tenth-right-icon nc-icon nc-key-25 add-animation animated"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<footer class="footer footer-black">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <ng-container *ngIf="userService.userSub.getValue() == null">
            <li><a [routerLink]="['/']">トップ</a></li>
            <li><a [routerLink]="['/setting']">設定</a></li>
            <li><a [routerLink]="['/usage']">使い方</a></li>
            <li><a [routerLink]="['/register']">登録</a></li>
            <li><a [routerLink]="['/login']">ログイン</a></li>
          </ng-container>
          <ng-container *ngIf="userService.userSub.getValue() != null">
            <li><a [routerLink]="['/']">トップ</a></li>
            <li><a [routerLink]="['/trader']">自動取引ボット</a></li>
            <li><a [routerLink]="['/setting']">設定</a></li>
            <li><a [routerLink]="['/usage']">使い方</a></li>
            <li><a (click)="logout()">ログアウト</a></li>
          </ng-container>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
        © {{date | date: 'yyyy'}}, Alphatrader All Rights Reserved
				</span>
      </div>
    </div>
  </div>
</footer>