<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']">AlphaTrader</a>
      </div>
      <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="userService.userSub.getValue() != null">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">トップ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/setting']">設定</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/trader']">自動取引ボット</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/usage']">使い方</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" style="cursor : pointer;">ログアウト</a>
          </li>
        </ng-container>
        <ng-container *ngIf="userService.userSub.getValue() == null">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">トップ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/usage']">使い方</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">新規登録</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" style="cursor : pointer;">ログイン</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>