<div id="trader" class="wrapper page-header" style="background-image: url('./assets/img/sections/uriel-soberanes.jpg')">
  <div class="filter"></div>
  <div class="landing-section">
    <div class="container" style="height:auto" *ngIf="traderStatus">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-plain trader-result">
            <div class="card-body" style="padding: 20px 0;">
              <pre class="sourcecode"><ng-template ngFor let-log [ngForOf]="logs">{{ log.datetime | date:'yyyy-MM-ddTHH:mm:ss.SSS' }}:{{ log.line }}<br></ng-template></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="height:auto" *ngIf="traderStatus">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-plain trader-orders">
            <div class="card-body">
              <mat-nav-list>
                <mat-list-item *ngFor="let order of orders;" class="trader-order">
                  <div class="order-datetime">
                    {{ order.datetime | date:'yyyy-MM-dd HH:mm:ss' }}
                  </div>
                  <div class="order-exchange">
                    {{ order.exchange }}
                  </div>
                  <div class="order-amount">
                    {{ orders.pair }}
                  </div>
                  <div class="order-price">
                    {{ orders.price }}
                  </div>
                  <div class="order-amount">
                    {{ orders.amount }}
                  </div>
                </mat-list-item>
              </mat-nav-list>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="height:auto">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-plain trader-result">
            <div class="card-body">
              <mat-nav-list>
                <mat-list-item *ngFor="let trad of traderStatuses; let i = index" class="trader-list" style="height:auto;">
                  <div class="trader-list-content" (click)="getTrader(trad.traderId)">
                    <span class="trader-index">{{ i + 1 }}</span>
                    <span class="trader-description">{{trad.description}}</span>
                    <div>
                      <span class="trader-status">status: </span><span class="trader-status-value">{{trad.status}}</span>
                    </div>
                  </div>
                  <ng-container *ngIf="trad.status == 'running'">
                    <div class="trader-list-stop">
                      <button mat-raised-button color="" (click)="queueStopTrader(trad.traderId)">停止</button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="trad.status == 'stopped' || trad.status == 'terminated'">
                    <div class="trader-list-delete">
                      <button mat-raised-button color="accent" (click)="deleteTrader(trad.traderId)">削除</button>
                    </div>
                  </ng-container>
                </mat-list-item>
              </mat-nav-list>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row trader">
        <div class="col-md-8 trader-code">
          <div class="card card-plain trader-result">
            <div id="navbar-full" class="card-body" style="padding-left:0;padding-right:0px;">
              <div *ngIf="mode == 'create'" class="subscribe-line subscribe-line-black">
                <div class="container">
                  <div class="row" style="display:table;">
                    <div class="col-md-9 col-sm-8" style="display:table-cell;vertical-align:middle;height:60px;">
                      新規作成
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="mode == 'edit'" class="subscribe-line subscribe-line-black">
                <div class="container">
                  <div class="row" style="display:table;">
                    <div class="col-md-9 col-sm-8" style="display:table-cell;vertical-align:middle">
                      変更
                    </div>
                    <div class="col-md-3 col-sm-4" style="display:table-cell;vertical-align:middle">
                      <button type="button" class="btn btn-neutral btn-block btn-lg" (click)="modeCreate()">新規作成に戻る</button>
                    </div>
                  </div>
                </div>
              </div>

              <div ace-editor [(text)]="code" [mode]="'python'" [theme]="'monokai'" [options]="ace_options" [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="1000" style="min-height: 50vh; width:100%; overflow: auto;margin-bottom:0;heigh:300px;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mr-auto">
          <div class="card card-pricing">
            <div *ngIf="mode == 'create'" class="card-body">
              <h5>自動取引ボットを作成する</h5>
              <div class="card-icon">
                <i class="nc-icon nc-app"></i>
              </div>
              残り作成枠 <span class="h3 card-title">{{numberOfTraderAvailable}}</span>

              <div class="trader-tools">
                <h6>説明(任意)</h6>
                <div class="form-group">
                  <input type="text" value="" placeholder="急騰反応用" [(ngModel)]="description" class="form-control" />
                </div>
                <h6>実行間隔</h6>
                <div>

                  <div *ngFor="let tickSec of tickSecs">
                    <div class="form-check-radio">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="tickSecRadios" id="tickSecRadios1" [(ngModel)]="selectedTickSec" [value]="tickSec.value">
                        {{tickSec.display}}                        <span class="form-check-sign"></span>
                    </label>
                    </div>
                  </div>
                </div>
                <p class="card-description">
                </p>
                <div class="card-footer">
                  <button class="btn btn-info btn-round card-link" (click)="dialogRunTrader()">自動取引ボット作成</button>
                </div>
              </div>
            </div>
            <div *ngIf="mode == 'edit'" class="card-body">
              <h5>自動取引ボットを変更する</h5>
              <div class="card-icon">
                <i class="nc-icon nc-app"></i>
              </div>
              <div class="trader-tools">
                <h6>説明(任意)</h6>
                <div class="form-group">
                  <input type="text" value="" placeholder="急騰反応用" [(ngModel)]="description" class="form-control" />
                </div>
                <h6>実行間隔</h6>
                <div>

                  <div *ngFor="let tickSec of tickSecs">
                    <div class="form-check-radio">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="tickSecRadios" id="tickSecRadios1" [(ngModel)]="selectedTickSec" [value]="tickSec.value">
                        {{tickSec.display}}                        <span class="form-check-sign"></span>
                    </label>
                    </div>
                  </div>
                </div>
                <p class="card-description">
                </p>
                <div *ngIf="traderStatus.status != 'stopped'" class="card-footer">
                  <div>
                    停止済みのボットのみ変更可能です。
                  </div>
                  <button class="btn btn-info btn-round card-link disabled">自動取引ボット変更</button>
                </div>
                <div *ngIf="traderStatus.status == 'stopped'" class="card-footer">
                  <button class="btn btn-info btn-round card-link" (click)="dialogEditTrader(traderStatus.traderId)">自動取引ボット変更</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<footer class="footer section-dark">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a [routerLink]="['/']">Alphatrader</a></li>
          <li><a [routerLink]="['/setting']">設定</a></li>
          <li><a [routerLink]="['/trader']">自動取引ボット</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
        © {{data | date: 'yyyy'}}, Alphatrader All Rights Reserved
                </span>
      </div>
    </div>
  </div>
</footer>