.landing-section {
  padding: 100px 0;
}

#trader .page-header .landing-section .container {
  height: 100%;
}

#trader.page-header {
  max-height: none;
}

.row.trader {
  height: 100%;
}

.trader-result {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

.trader-description, .trader-index {
  font-size: 14px;
}

.trader-status, .trader-status-value {
  font-size: 12px;
}

.trader-list-delete {
  margin-left: auto;
}

.trader-list-stop {
  margin-left: auto;
}

.trader-list-content {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .trader-code {
    margin-bottom: 15px;
  }
}

.btn-lg {
  padding: 6px 24px;
  margin: 10px 0;
}

.subscribe-line {
  padding: 0;
}

.trader-orders {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

.trader-orders mat-list-item {
  height: 24px;
  font-size: 14px;
}

pre {
  height: 80px;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 110%;
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
}

pre.sourcecode {
  background: #000;
  color: #c4c4c4;
  white-space: pre;
  overflow-x: auto;
  font-size: 12px;
  border-radius: 0;
  border: 0;
  padding: 8px;
  margin-bottom: 0;
}