<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/sections/soroush-karimi.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-7 col-12 ml-auto">
          <div class="info info-horizontal">
            <div class="icon">
              <i class="fa fa-umbrella"></i>
            </div>
            <div class="description">
              <h3> 簡単なコーディング </h3>
              <p>自動取引を実行するために必要なコードは、とっても簡単です。書き方がわからない人でも、サンプルコードをもとに作成できます。基本的な使い方は、ドキュメントを参照してください。(準備中)</p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon">
              <i class="fa fa-map-signs"></i>
            </div>
            <div class="description">
              <h3> 24時間365日対応 </h3>
              <p>自動取引コードは、Alphatraderのシステム内で自動実行されます。</p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon">
              <i class="fa fa-user-secret"></i>
            </div>
            <div class="description">
              <h3> 利用料無料 </h3>
              <p>現在ベータ版であるため、無料でご利用いただけます。機能のアップデートは予告なしに行われます。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-5 col-12 mr-auto">
          <div class="card card-register">
            <h3 class="card-title text-center">ユーザ登録</h3>
            <div class="division">
              <div class="line l"></div>
              <span>10秒で簡単登録</span>
              <div class="line r"></div>
            </div>
            <form class="register-form">
              <input type="text" name="user_id" class="form-control" placeholder="LoginID" [(ngModel)]="inputUserId">

              <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="inputPassword">

              <input type="password" name="password2" class="form-control" placeholder="Confirm Password" [(ngModel)]="inputPassword2">

              <button class="btn btn-block btn-round btn-dribbble" (click)="register()">新規登録</button>
            </form>
            <div class="login">
              <p>既にアカウントを持っている場合は <a [routerLink]="['/login']">ログイン</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="demo-footer text-center">
      <h6>&copy; {{data | date: 'yyyy'}}, Alphatrader All Rights Reserved</h6>
    </div>
  </div>
</div>