<div id="login" class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/sections/leonard-cotte.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 ml-auto mr-auto">
          <div class="card card-register">
            <h3 class="card-title">Welcome</h3>
            <form class="register-form">
              <label>LoginID</label>
              <input type="email" name="user_id" class="form-control no-border" placeholder="ユーザID" required [(ngModel)]="inputUserId">

              <label>Password</label>
              <input type="password" name="password" class="form-control no-border" placeholder="パスワード" [type]="hide ? 'password' : 'text'" [(ngModel)]="inputPassword">
              <button class="btn btn-danger btn-block btn-round" (click)="login()">ログイン</button>
            </form>
            <div class="login">
              <p>アカウントを持っていない方は <a [routerLink]="['/register']">新規登録</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="demo-footer text-center">
      <h6>&copy; {{data | date: 'yyyy'}}, Alphatrader All Rights Reserved</h6>
    </div>
  </div>
</div>