<div id="trader" class="wrapper page-header" style="background-image: url('./assets/img/sections/david-marcu.jpg')">
  <div class="filter"></div>
  <div class="landing-section">
    <div class="container" style="height:auto">
      <div class="row">
        <div class="col-md-8">
          <div class="card card-plain setting-card">
            <div class="card-body">
              <mat-nav-list #setting>
                <mat-list-item *ngFor="let set of settings;let i = index" class="setting-list" style="height:auto;">
                  <div class="setting-list-content">
                    <span class="setting-index">{{ i + 1 }}</span>
                    <span class="setting-exchange-id">{{convertExchangeIdToName(set.exchangeId)}}</span>
                    <div>
                      <span class="setting-apikey-key">apikey: </span><span class="setting-apikey-value">{{set.apiKey}}</span>
                    </div>
                    <div>
                      <span class="setting-apikey-key">secretkey: </span><span class="setting-apikey-value">XXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>
                    </div>
                  </div>
                  <div class="setting-list-delete">
                    <button mat-raised-button color="accent" (click)="deleteSetting(set.settingId)">削除</button>
                  </div>
                </mat-list-item>
              </mat-nav-list>
            </div>
          </div>
        </div>
        <div class="col-md-4 mr-auto">
          <div class="card card-plain card-pricing setting-card">
            <div class="card-body">
              <h5>取引所のAPIキーを追加する</h5>
              <div class="card-icon">
                <i class="nc-icon nc-settings-gear-65"></i>
              </div>

              取引所につき1キーのみ登録できます

              <div class="trader-tools">
                <mat-form-field class="setting-add-field">
                  <mat-select placeholder="取引所" [(ngModel)]="selectedExchange">
                    <mat-option *ngFor="let exchange of exchanges" [value]="exchange">
                      {{ exchange.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="setting-add-field">
                  <input matInput placeholder="api-key" [(ngModel)]="apiKey">
                </mat-form-field>
                <mat-form-field class="setting-add-field">
                  <input matInput placeholder="secret-key" [(ngModel)]="secretKey">
                </mat-form-field>
                <button mat-raised-button color="accent" (click)="addSetting()">APIキー追加</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<footer class="footer section-dark">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a [routerLink]="['/']">Alphatrader</a></li>
          <li><a [routerLink]="['/setting']">設定</a></li>
          <li><a [routerLink]="['/trader']">自動取引ボット</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
        © {{data | date: 'yyyy'}}, Alphatrader All Rights Reserved
                </span>
      </div>
    </div>
  </div>
</footer>