
.setting-card {
      background-color: #FFFFFF;
      border-radius: 12px;
      box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

  .input-component {
    padding: 5px;
  }

  .setting-exchange-name, .setting-exchange-id {
    font-size: 14px;
  }

  .setting-apikey-key, .setting-secretkey {
    font-size: 12px;
    }
    .setting-apikey-value{
      font-size: 10px;
    }


  .setting-content {
    margin: 30px auto;
    max-width: 1080px;
  }

  .setting-card h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
  }

  .setting-button {
    text-align: center;
    margin: 30px 0;
  }

  .setting-list-delete {
      margin-left: auto;
  }
